.header {
  background-color: $grey1;
  background: $grey1;
  border-bottom: 2px solid $c-main;

  &-logo {
    width: 130px;
  }

  &-text {
    font-size: 14px;
    color: $grey3;
    margin-bottom: 0px;
  }
}
