.post {
  &.container {
    float: none !important;
  }
  &-title {
    font-weight: 300;
    margin-bottom: 18px !important;
  }
  img {
    height: auto !important;
    width: auto;
    padding: 10px 0px;

    &.emoji {
      width: 20px;
      display: inline-block !important;
      vertical-align: middle !important;
      padding: 0px !important;
    }
  }
}
