// colors
$white: #fff;

$grey1: #f4f4f4;
$grey2: #aaaaaa;
$grey3: #4b4b4b;

$blue1: #4facdb;
$blue2: #0f8ccb;
$blue3: #6fa7f4;

$green1: #98ebd2;

$c-main: $blue1;
$back: $white;

$link: $blue2;
$link-h: darken($link, 10%);

$res: 596px;

@mixin res {
  @media (max-width: #{$res}) {
    @content;
  }
}
